Build started...
Build succeeded.
warn: Microsoft.EntityFrameworkCore.Model.Validation[30000]
      No store type was specified for the decimal property 'Latitude' on entity type 'ContactAddress'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
warn: Microsoft.EntityFrameworkCore.Model.Validation[30000]
      No store type was specified for the decimal property 'Longitude' on entity type 'ContactAddress'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
warn: Microsoft.EntityFrameworkCore.Model.Validation[30000]
      No store type was specified for the decimal property 'ValueNum' on entity type 'CustomFieldValue'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
BEGIN TRANSACTION;
ALTER TABLE [Quotes] ADD [QuoteTemplateId] int NULL;

ALTER TABLE [LeadScoringRules] ADD [UpdatedAt] datetime2 NULL;

ALTER TABLE [CampaignSteps] ADD [ClickCount] int NOT NULL DEFAULT 0;

ALTER TABLE [CampaignSteps] ADD [DeliveredCount] int NOT NULL DEFAULT 0;

ALTER TABLE [CampaignSteps] ADD [OpenCount] int NOT NULL DEFAULT 0;

ALTER TABLE [CampaignSteps] ADD [SentCount] int NOT NULL DEFAULT 0;

CREATE TABLE [CampaignStepExecutionLogs] (
    [Id] int NOT NULL IDENTITY,
    [CampaignId] int NOT NULL,
    [StepId] int NOT NULL,
    [RecipientId] int NOT NULL,
    [ContactId] int NULL,
    [Email] nvarchar(max) NOT NULL,
    [ExecutedAt] datetime2 NOT NULL,
    [Status] nvarchar(max) NOT NULL,
    [ErrorMessage] nvarchar(max) NULL,
    CONSTRAINT [PK_CampaignStepExecutionLogs] PRIMARY KEY ([Id])
);

CREATE TABLE [QuoteTemplates] (
    [Id] int NOT NULL IDENTITY,
    [Name] nvarchar(100) NOT NULL,
    [CompanyName] nvarchar(200) NOT NULL,
    [CompanyAddress] nvarchar(500) NOT NULL,
    [CompanyLogoUrl] nvarchar(max) NULL,
    [PrimaryColor] nvarchar(20) NOT NULL,
    [SecondaryColor] nvarchar(20) NOT NULL,
    [TextColor] nvarchar(max) NULL,
    [ShowSku] bit NOT NULL,
    [ShowQuantity] bit NOT NULL,
    [ShowDiscountColumn] bit NOT NULL,
    [ShowTaxSummary] bit NOT NULL,
    [ShowShipping] bit NOT NULL,
    [ShowNotes] bit NOT NULL,
    [DefaultTerms] nvarchar(max) NULL,
    [DefaultFooter] nvarchar(max) NULL,
    [IsDefault] bit NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    CONSTRAINT [PK_QuoteTemplates] PRIMARY KEY ([Id])
);

CREATE TABLE [SalesQuotas] (
    [Id] int NOT NULL IDENTITY,
    [UserId] int NOT NULL,
    [Amount] decimal(18,2) NOT NULL,
    [PeriodType] nvarchar(20) NOT NULL,
    [FiscalYear] int NOT NULL,
    [PeriodNumber] int NOT NULL,
    [StartDate] datetime2 NOT NULL,
    [EndDate] datetime2 NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [LastModifiedAt] datetime2 NOT NULL,
    CONSTRAINT [PK_SalesQuotas] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_SalesQuotas_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE CASCADE
);

CREATE INDEX [IX_Quotes_QuoteTemplateId] ON [Quotes] ([QuoteTemplateId]);

CREATE INDEX [IX_SalesQuotas_UserId] ON [SalesQuotas] ([UserId]);

ALTER TABLE [Quotes] ADD CONSTRAINT [FK_Quotes_QuoteTemplates_QuoteTemplateId] FOREIGN KEY ([QuoteTemplateId]) REFERENCES [QuoteTemplates] ([Id]);

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20260119190247_SalesForecastFinal', N'10.0.1');

COMMIT;
GO


